
<div class="row" style="text-align: center;">
<%= image_tag @user.image_url, style: 'text-align: center; display: inline-block' %>
</div>
<div class="row">

<p style='text-align: center; font-size: 32px;'>
<%= @user.name %>
</p>
</div>
