
  <section class="course-index">
    <h3>Choose Your Course</h3>
    <%= render template: 'joins/new' %>
    <%= link_to 'or create new course.', new_course_path, class: 'pull-right' %>
  </section>
