/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 *= require paper/loader
 *= require paper/bootswatch
 *= require bootstrap-switch
 */

/* Course画面のbottom */

html, body {
  width : 100%;
  margin-top: 120px;
}

form  .btn {
  width: 100%;
}

section.devise.devise-index h2 {
  text-align: center;
  margin-bottom: 80px;
}

section.devise .panel-body {
  background: #F9F9F9;
}

.form-group {
  margin-bottom: 60px !important;
}

section.course-index {
  text-align: center;
}

section.course-index h3 {
  padding-bottom: 60px;
}

.course-message {
  text-align: left;
  padding: 10px;
}
.panel-body {
  z-index: 0
}

.course-message h4.media-heading {
  font-size: 18px;
  color: #2196f3
}

div.media.course-message, div.media.course-message .media-body {
  overflow:visible;
}

.comment-form {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #26A69A;
}

.comment-form input {
  margin: 5px;
}

.comment-form .white {
  background: #eee;
}

#toggle-button > div:first-child {
  display: none;
}

#toggle-button > div {
  margin: 5px;
}
