<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= form_for(Join.new, { controller: :joins, action: :create}) do |f| %>

      <div class="form-group">
        <ul class="list-group">
        <% Course.all.each do |course| %>
          <li class="list-group-item"><%= f.radio_button(:course_id, course.id) %> : <%= course.name %></li>
        <% end %>
        </ul>
      </div>

      <div class="form-group">
        <%= f.submit 'join', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
